<%= turbo_frame_tag todo do %>
  <li class="todo-list__todo">
    <%= form_with model: todo, url: toggle_todo_path(todo), namespace: dom_id(todo), method: :post do |form| %>
      <%= form.check_box :completed, autocomplete: :off, data: { controller: "checkbox", action: "checkbox#submit" } %>

      <span class="todo-list__todo-name">
        <%= todo.name %>
      </span>
    <% end %>

    <% unless todo.completed? %>
      <span class="todo-list__todo-controls">
        <%= link_to "Edit", edit_todo_path(todo), class: "link" %> /
        <%= button_to "Delete", todo_path(todo), method: :delete, form_class: :link, data: { confirm: "Are you sure?" } %>
      </span>
    <% end %>
  </li>
<% end %>
