<%= turbo_frame_tag @todo, "frame" do %>
  <div class="todo-list__todo">
    <%= form_with model: @todo, namespace: "edit_#{@todo.id}", class: "form flex-grow" do |form| %>
      <div class="form__field">
        <%= form.text_field :name, data: { controller: "auto-select" }, class: "form__input", autocomplete: :off %>
      </div>

      <%= form.submit "Save", class: "button button--primary" %>
      <%= link_to "Cancel", todo_path(@todo), class: "button link" %>
    <% end %>
  </div>
<% end %>
