<h1>Ajax to-dos</h1>

<%= form_with model: @new_todo do |form| %>
  <%= form.text_field :name, placeholder: "Add a todo", data: { placeholder: :new_todo_input } %>
  <%= form.submit "Add" %>
<% end %>

<ul class="todos uncompleted" data-placeholder="uncompleted_todos">
  <%= render @todos.uncompleted %>
</ul>

<ul class="todos completed" data-placeholder="completed_todos">
  <%= render @todos.completed %>
</ul>
